%div{:id => "message_#{message_counter + 1}", :class => "interaction-element even offset-right"}
  %p.meta-data
    message from:
    = link_to message.from, user_path(message.user_id)
  %p
    = message.body
  %p.meta-data
    = time_ago_in_words(message.created_at)
    ago
