---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com:80/maps/api/geocode/json?address=battambong%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Battambang\",\n               \"short_name\"
      : \"Battambang\",\n               \"types\" : [ \"locality\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Battambang\",\n
      \              \"short_name\" : \"Battambang\",\n               \"types\" :
      [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Bat Dambang\",\n               \"short_name\"
      : \"Bat Dambang\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Battambang, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 13.17042260,\n
      \                 \"lng\" : 103.26684950\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 13.05172020,\n                  \"lng\" : 103.15750120\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 13.10,\n               \"lng\" : 103.20\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 13.14346660,\n                  \"lng\" : 103.26402970\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 13.05652570,\n                  \"lng\" : 103.13597030\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Thu, 24 Nov 2011 16:47:40 GMT
- request:
    method: get
    uri: http://maps.googleapis.com:80/maps/api/geocode/json?language=en&latlng=13.1%2C103.2&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"57\",\n               \"short_name\"
      : \"57\",\n               \"ty[...]
