---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=from+phnom+penh%2C+Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: UTF-8
      string: '{"results":[{"geometry":{"location":{"lat":11.558831,"lng":104.917445}}}],"status":"OK"}'
  recorded_at: Sun, 11 Dec 2011 07:56:08 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.558831%2C104.917445&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: UTF-8
      string: '{"results":[{"address_components":[{"long_name":"Phnom Penh","types":["locality"]},{"short_name":"KH","types":["country"]}]}],"status":"OK"}'
  recorded_at: Sun, 11 Dec 2011 07:56:08 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=FROM+PHNOM+PENH%2C+Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: UTF-8
      string: '{"results":[{"geometry":{"location":{"lat":11.558831,"lng":104.917445}}}],"status":"OK"}'
  recorded_at: Sun, 11 Dec 2011 07:55:37 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=mok+pi+phnum+penh%2C+Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: UTF-8
      string: '{"results":[{"geometry":{"location":{"lat":11.558831,"lng":104.917445}}}],"status":"OK"}'
  recorded_at: Sun, 11 Dec 2011 07:55:38 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MOK+PI+PHNUM+PENH%2C+Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 
      message: 
    headers: {}
    body:
      encoding: UTF-8
      string: '{"results":[{"geometry":{"location":{"lat":11.558831,"lng":104.917445}}}],"status":"OK"}'
  recorded_at: Sun, 11 Dec 2011 07:55:39 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=phnom+penh%2C+Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 
      message: 
    headers: {}
    body:
      encoding: UTF-8
      string: '{"results":[{"geometry":{"location":{"lat":11.558831,"lng":104.917445}}}],"status":"OK"}'
  recorded_at: Sun, 11 Dec 2011 07:55:39 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=mok%20pi%20phnum%20penh,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Phnom Penh",
                       "short_name" : "PP",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Phnom Penh",
                       "short_name" : "Phnom Penh",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Phnom Penh, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 11.7363275,
                          "lng" : 105.0446807
                       },
                       "southwest" : {
                          "lat" : 11.422401,
                          "lng" : 104.7127961
                       }
                    },
                    "location" : {
                       "lat" : 11.5448729,
                       "lng" : 104.8921668
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 11.7363275,
                          "lng" : 105.0446807
                       },
                       "southwest" : {
                          "lat" : 11.422401,
                          "lng" : 104.7127961
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Feb 2015 09:22:27 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=phnom%20penh,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
             [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.5448729,104.8921668&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
