%table
  %tr
    %th
      id
    %th
      Created
    %th
      Activated
    %th
      Last Interacted
    %th
      Last Contacted
    %th
      Name
    %th
      Screen Name
    %th
      Mobile Number
    %th
      DOB
    %th
      Gender
    %th
      Location
    %th
      Looking For
    %th
      Online
    %th
      Locale
    = render "shared/communicable_resources_table_headers"
  = render users
- unless users.is_a?(Array)
  = paginate users
