---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=amsterdam,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Permanent Mission of Cambodia",
                       "short_name" : "Permanent Mission of Cambodia",
                       "types" : [ "point_of_interest", "establishment" ]
                    },
                    {
                       "long_name" : "327",
                       "short_name" : "327",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East 58th Street",
                       "short_name" : "E 58th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.75968210000001,-73.9636116&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
         [...]
