---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=banteay+mean+chey%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Banteay Meanchey\",\n               \"short_name\"
      : \"Banteay Meanchey\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Banteay Meanchey, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 14.248830,\n
      \                 \"lng\" : 103.444290\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 13.3431960,\n                  \"lng\" : 102.3400040\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 13.66725960,\n               \"lng\" : 102.89750980\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 14.01394760,\n                  \"lng\" : 103.40974740\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 13.32006080,\n                  \"lng\" : 102.38527220\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:34:06 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=13.6672596%2C102.8975098&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"56\",\n               \"short_name\"
      : \"56\",\n          [...]
