---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong+thum%2C+Cambodia&language=en&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Kampong Thom",
                       "short_name" : "Kampong Thom",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Stueng Saen",
                       "short_name" : "Stueng Saen",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Kampong Thom",
                       "short_name" : "Kampong Thom",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Kampong Thom, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 12.74207470,
                          "lng" : 104.90982060
                       },
                       "southwest" : {
                          "lat" : 12.69091850,
                          "lng" : 104.85918050
                       }
                    },
                    "location" : {
                       "lat" : 12.711970,
                       "lng" : 104.8886030
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 12.7337380,
                          "lng" : 104.92061780
                       },
                       "southwest" : {
                          "lat" : 12.69020010,
                          "lng" : 104.85658820
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 12 Dec 2011 17:39:58 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.71197%2C104.888603&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
     [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong%20thum,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Kampong Thom",
                       "short_name" : "Kampong Thom",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_na[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.90616,105.2194808&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "[...]
