---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong+chhnang%2C+Cambodia&language=en&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Kampong Chhnang",
                       "short_name" : "Kampong Chhnang",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Kampong Chhnang",
                       "short_name" : "Kampong Chhnang",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Kampong Chhnang",
                       "short_name" : "Kampong Chhnang",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Kampong Chhnang, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 12.27702460,
                          "lng" : 104.68966480
                       },
                       "southwest" : {
                          "lat" : 12.22166610,
                          "lng" : 104.65129850
                       }
                    },
                    "location" : {
                       "lat" : 12.250,
                       "lng" : 104.66666670
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 12.2718070,
                          "lng" : 104.69868150
                       },
                       "southwest" : {
                          "lat" : 12.22819120,
                          "lng" : 104.63465190
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 12 Dec 2011 17:36:51 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.25%2C104.6666667&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
       [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong%20chhnang,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Krong Kampong Chhnang",
                       "short_name" : "Krong Kampong Chhnang",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Kampong Chhnang",
                       "sh[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.25,104.666667&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addr[...]
