---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong+chhnang%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Kampong Chhnang\",\n               \"short_name\"
      : \"Kampong Chhnang\",\n               \"types\" : [ \"locality\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Kampong Chhnang\",\n
      \              \"short_name\" : \"Kampong Chhnang\",\n               \"types\"
      : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Kampong Chhnang\",\n               \"short_name\"
      : \"Kampong Chhnang\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Kampong Chhnang, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 12.27702460,\n
      \                 \"lng\" : 104.68966480\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 12.22166610,\n                  \"lng\" : 104.65129850\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 12.250,\n               \"lng\" : 104.66666670\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 12.2718070,\n                  \"lng\" : 104.69868150\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 12.22819120,\n                  \"lng\" : 104.63465190\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:36:51 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.25%2C104.6666667&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"National Highway 5\",\n               \"short_name\"
      : \"NH 5\"[...]
