---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampot%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Kâmpôt\",\n               \"short_name\"
      : \"Kâmpôt\",\n               \"types\" : [ \"locality\", \"political\" ]\n
      \           },\n            {\n               \"long_name\" : \"Krong Kep\",\n
      \              \"short_name\" : \"Krong Kep\",\n               \"types\" : [
      \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Cambodia\",\n               \"short_name\"
      : \"KH\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
      \        ],\n         \"formatted_address\" : \"Kâmpôt, Cambodia\",\n         \"geometry\"
      : {\n            \"location\" : {\n               \"lat\" : 10.60630,\n               \"lng\"
      : 104.18190\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
      \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
      : 10.61726720,\n                  \"lng\" : 104.19790740\n               },\n
      \              \"southwest\" : {\n                  \"lat\" : 10.59533240,\n
      \                 \"lng\" : 104.16589260\n               }\n            }\n
      \        },\n         \"types\" : [ \"locality\", \"political\" ]\n      },\n
      \     {\n         \"address_components\" : [\n            {\n               \"long_name\"
      : \"Kampot\",\n               \"short_name\" : \"Kampot\",\n               \"types\"
      : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Kampot province\",\n               \"short_name\" : \"Kampot province\",\n
      \              \"types\" : [ \"administrative_area_level_1\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Cambodia\",\n
      \              \"short_name\" : \"KH\",\n               \"types\" : [ \"country\",
      \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Kampot, Cambodia\",\n         \"geometry\" : {\n            \"bounds\" :
      {\n               \"northeast\" : {\n                  \"lat\" : 10.62323890,\n
      \                 \"lng\" : 104.19450760\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 10.59047470,\n                  \"lng\" : 104.15682790\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 10.60468890,\n               \"lng\" : 104.17565730\n            },\n            \"location_type\"
      : \"APPROXIMATE[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=10.6063%2C104.1819&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"33\",\n               \"short_name\"
      : \"33\",\n               \[...]
