---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong+thum%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Kampong Thom\",\n               \"short_name\"
      : \"Kampong Thom\",\n               \"types\" : [ \"locality\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Stueng Saen\",\n
      \              \"short_name\" : \"Stueng Saen\",\n               \"types\" :
      [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Kampong Thom\",\n               \"short_name\"
      : \"Kampong Thom\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Kampong Thom, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 12.74207470,\n
      \                 \"lng\" : 104.90982060\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 12.69091850,\n                  \"lng\" : 104.85918050\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 12.711970,\n               \"lng\" : 104.8886030\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 12.7337380,\n                  \"lng\" : 104.92061780\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 12.69020010,\n                  \"lng\" : 104.85658820\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:39:58 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.71197%2C104.888603&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"National Highway 6\",\n               \"short_name\"
      : \"NH 6[...]
