---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong+spueu%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Kampong Spoe\",\n               \"short_name\"
      : \"Kampong Spoe\",\n               \"types\" : [ \"locality\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Chbar Mon\",\n
      \              \"short_name\" : \"Chbar Mon\",\n               \"types\" : [
      \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Kampong Speu\",\n               \"short_name\"
      : \"Kampong Speu\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Kampong Spoe, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 11.48414620,\n
      \                 \"lng\" : 104.52255250\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 11.45672420,\n                  \"lng\" : 104.48667530\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 11.47349210,\n               \"lng\" : 104.504360\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 11.48442690,\n                  \"lng\" : 104.52036740\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 11.46255690,\n                  \"lng\" : 104.48835260\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:38:32 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.4734921%2C104.50436&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"44\",\n               \"short_name\"
      : \"44\",\n            [...]
