---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kampong+chaam%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Kampong Cham\",\n               \"short_name\"
      : \"Kampong Cham\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Kampong Cham, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 12.5056850,\n
      \                 \"lng\" : 106.4672090\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 11.6173120,\n                  \"lng\" : 104.8170550\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 12.07699250,\n               \"lng\" : 105.68817880\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 12.77437170,\n                  \"lng\" : 106.71265390\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 11.37779240,\n                  \"lng\" : 104.66370370\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      },\n      {\n         \"address_components\" : [\n            {\n
      \           [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.0769925%2C105.6881788&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"308\",\n               \"short_name\"
      : \"308\",\n        [...]
