---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kandaal%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Kandal\",\n               \"short_name\"
      : \"Kandal\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Kandal, Cambodia\",\n         \"geometry\" : {\n            \"bounds\" :
      {\n               \"northeast\" : {\n                  \"lat\" : 11.8948830,\n
      \                 \"lng\" : 105.2987980\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 10.8921980,\n                  \"lng\" : 104.6585250\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 11.40010490,\n               \"lng\" : 105.12589550\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 11.74989850,\n                  \"lng\" : 105.63813310\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 11.04988020,\n                  \"lng\" : 104.61365790\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:42:44 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.4001049%2C105.1258955&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"21\",\n               \"short_name\"
      : \"21\",\n          [...]
