---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kaoh+kong%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Koh Kong\",\n               \"short_name\"
      : \"Koh Kong\",\n               \"types\" : [ \"locality\", \"political\" ]\n
      \           },\n            {\n               \"long_name\" : \"Smach Mean Chey\",\n
      \              \"short_name\" : \"Smach Mean Chey\",\n               \"types\"
      : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Kaoh Kong\",\n               \"short_name\"
      : \"Kaoh Kong\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Koh Kong, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 11.64080380,\n
      \                 \"lng\" : 103.03819660\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 11.56883460,\n                  \"lng\" : 102.97322540\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 11.61666670,\n               \"lng\" : 102.98333330\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 11.6603810,\n                  \"lng\" : 103.0473630\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 11.57294550,\n                  \"lng\" : 102.91930360\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      },\n      {\n         \"address_components\" : [\n            {\n               \"long_name\"
      : \"K[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.6166667%2C102.9833333&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"3\",\n               \"short_name\"
      : \"3\",\n            [...]
