---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kracheh%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Kratie\",\n               \"short_name\"
      : \"Kratie\",\n               \"types\" : [ \"locality\", \"political\" ]\n
      \           },\n            {\n               \"long_name\" : \"Kracheh\",\n
      \              \"short_name\" : \"Kracheh\",\n               \"types\" : [ \"administrative_area_level_2\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Kratie\",\n               \"short_name\" : \"Kratie\",\n               \"types\"
      : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Cambodia\",\n               \"short_name\"
      : \"KH\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
      \        ],\n         \"formatted_address\" : \"Kratie, Cambodia\",\n         \"geometry\"
      : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\"
      : 12.51468190,\n                  \"lng\" : 106.062870\n               },\n
      \              \"southwest\" : {\n                  \"lat\" : 12.4583680,\n
      \                 \"lng\" : 106.01446150\n               }\n            },\n
      \           \"location\" : {\n               \"lat\" : 12.480,\n               \"lng\"
      : 106.030\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
      \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
      : 12.50178780,\n                  \"lng\" : 106.06201480\n               },\n
      \              \"southwest\" : {\n                  \"lat\" : 12.45821040,\n
      \                 \"lng\" : 105.99798520\n               }\n            }\n
      \        },\n         \"types\" : [ \"locality\", \"political\" ]\n      }\n
      \  ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:41:19 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.48%2C106.03&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"308\",\n               \"short_name\"
      : \"308\",\n               \"t[...]
