---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=krong+pailin%2C+Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Krong Pailin\",\n               \"short_name\"
        : \"Krong Pailin\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Krong Pailin, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 13.1145750,\n
        \                 \"lng\" : 102.7521210\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 12.666190,\n                  \"lng\" : 102.4856410\n
        \              }\n            },\n            \"location\" : {\n               \"lat\"
        : 12.90929620,\n               \"lng\" : 102.66755750\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 13.08325090,\n                  \"lng\" :
        102.92367630\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 12.73522040,\n                  \"lng\" : 102.41143870\n               }\n
        \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Wed, 06 Jun 2012 13:56:10 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.9092962%2C102.6675575&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"l[...]
