---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=krong+preah+sihanouk%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Krong Preah Sihanouk\",\n               \"short_name\"
      : \"Krong Preah Sihanouk\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Krong Preah Sihanouk, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 10.9888650,\n
      \                 \"lng\" : 103.9621540\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 10.40374130,\n                  \"lng\" : 103.4098830\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 10.71623960,\n               \"lng\" : 103.77526340\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 11.06686290,\n                  \"lng\" : 104.2875010\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 10.36520980,\n                  \"lng\" : 103.26302580\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:58:05 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=10.7162396%2C103.7752634&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Mittapheap Kampuchea\",\n               \"short_name\"
      : \[...]
