---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=krong+pailin%2C+Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Krong Pailin",
                       "short_name" : "Krong Pailin",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Krong Pailin, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 13.1145750,
                          "lng" : 102.7521210
                       },
                       "southwest" : {
                          "lat" : 12.666190,
                          "lng" : 102.4856410
                       }
                    },
                    "location" : {
                       "lat" : 12.90929620,
                       "lng" : 102.66755750
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 13.08325090,
                          "lng" : 102.92367630
                       },
                       "southwest" : {
                          "lat" : 12.73522040,
                          "lng" : 102.41143870
                       }
                    }
                 },
                 "types" : [ "administrative_area_level_1", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 06 Jun 2012 13:56:10 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.9092962%2C102.6675575&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=krong%20pailin,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Krong Pailin",
                       "short_name" : "Krong Pailin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pailin",
                       "short_name" : "Pailin",
     [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.8539496,102.6083506&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
