---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=mondol+kiri%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Mondol Kiri\",\n               \"short_name\"
      : \"Mondol Kiri\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Mondol Kiri, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 13.4233940,\n
      \                 \"lng\" : 107.6061020\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 12.0597290,\n                  \"lng\" : 106.3519530\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 12.78794270,\n               \"lng\" : 107.10119310\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 13.48336440,\n                  \"lng\" : 108.12566820\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 12.09059990,\n                  \"lng\" : 106.0767180\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:43:59 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.7879427%2C107.1011931&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"141\",\n               \"short_name\"
      : \"141\",\n        [...]
