---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=new+york%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Permanent Mission of Cambodia\",\n
      \              \"short_name\" : \"Permanent Mission of Cambodia\",\n               \"types\"
      : [ \"point_of_interest\", \"establishment\" ]\n            },\n            {\n
      \              \"long_name\" : \"327\",\n               \"short_name\" : \"327\",\n
      \              \"types\" : [ \"street_number\" ]\n            },\n            {\n
      \              \"long_name\" : \"E 58th St\",\n               \"short_name\"
      : \"E 58th St\",\n               \"types\" : [ \"route\" ]\n            },\n
      \           {\n               \"long_name\" : \"Midtown East\",\n      [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.7596883%2C-73.96360419999999&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"327\",\n               \"short_name\"
      : \"327\",\n [...]
