---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=otdar+mean+chey%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Oddar Meancheay\",\n               \"short_name\"
      : \"Oddar Meancheay\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Oddar Meancheay, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 14.4395070,\n
      \                 \"lng\" : 104.4748510\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 13.9096780,\n                  \"lng\" : 103.0405580\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 14.17171950,\n               \"lng\" : 103.63627150\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 14.51764260,\n                  \"lng\" : 104.14850910\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 13.82526820,\n                  \"lng\" : 103.12403390\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:19:37 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=14.1717195%2C103.6362715&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"56\",\n               \"short_name\"
      : \"56\",\n          [...]
