---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=phnom+penh%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Phnom Penh\",\n               \"short_name\"
      : \"Phnom Penh\",\n               \"types\" : [ \"locality\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Prampir Makara\",\n
      \              \"short_name\" : \"Prampir Makara\",\n               \"types\"
      : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Phnom Penh\",\n               \"short_name\"
      : \"Phnom Penh\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Phnom Penh, Cambodia\",\n         \"geometry\" : {\n            \"location\"
      : {\n               \"lat\" : 11.5588310,\n               \"lng\" : 104.9174450\n
      \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 11.56976250,\n
      \                 \"lng\" : 104.93345240\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 11.54789910,\n                  \"lng\" : 104.90143760\n
      \              }\n            }\n         },\n         \"types\" : [ \"locality\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Thu, 24 Nov 2011 16:47:32 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.558831%2C104.917445&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"115\",\n               \"short_name\"
      : \"115\",\n          [...]
