---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=phnom+penh%2C+Cambodia&language=en&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Phnom Penh",
                       "short_name" : "Phnom Penh",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Prampir Makara",
                       "short_name" : "Prampir Makara",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Phnom Penh",
                       "short_name" : "Phnom Penh",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Phnom Penh, Cambodia",
                 "geometry" : {
                    "location" : {
                       "lat" : 11.5588310,
                       "lng" : 104.9174450
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 11.56976250,
                          "lng" : 104.93345240
                       },
                       "southwest" : {
                          "lat" : 11.54789910,
                          "lng" : 104.90143760
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 24 Nov 2011 16:47:32 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.558831%2C104.917445&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=phnom%20penh,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Phnom Penh",
                       "short_name" : "PP",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Phnom Penh",
                       "short_name" : "Phnom Penh",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Phnom Penh, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 11.7363275,
                          "lng" : 105.0446807
                       },
                       "southwest" : {
                          "lat" : 11.422401,
                          "lng" : 104.7127961
                       }
                    },
                    "location" : {
                       "lat" : 11.5448729,
                       "lng" : 104.8921668
                    },
                  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.5448729,104.8921668&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
