---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=pousaat%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Pursat\",\n               \"short_name\"
      : \"Pursat\",\n               \"types\" : [ \"locality\", \"political\" ]\n
      \           },\n            {\n               \"long_name\" : \"Sampov Meas\",\n
      \              \"short_name\" : \"Sampov Meas\",\n               \"types\" :
      [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Pursat\",\n               \"short_name\" :
      \"Pursat\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Cambodia\",\n
      \              \"short_name\" : \"KH\",\n               \"types\" : [ \"country\",
      \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Pursat, Cambodia\",\n         \"geometry\" : {\n            \"bounds\" :
      {\n               \"northeast\" : {\n                  \"lat\" : 12.55908750,\n
      \                 \"lng\" : 103.94276620\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 12.52138510,\n                  \"lng\" : 103.901310\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 12.53333330,\n               \"lng\" : 103.91666670\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 12.55511660,\n                  \"lng\" : 103.94868150\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 12.51154820,\n                  \"lng\" : 103.88465190\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:51:15 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=12.5333333%2C103.9166667&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"National Highway 5\",\n               \"short_name\"
      : \"N[...]
