---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=preah+vihear%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Preah Vihear\",\n               \"short_name\"
      : \"Preah Vihear\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Preah Vihear, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 14.4343270,\n
      \                 \"lng\" : 105.8868710\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 13.0990640,\n                  \"lng\" : 104.3539240\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 14.00857970,\n               \"lng\" : 104.84546190\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 14.7003920,\n                  \"lng\" : 105.8699370\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 13.31467710,\n                  \"lng\" : 103.82098680\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:46:28 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=14.0085797%2C104.8454619&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Choam Khsant\",\n               \"short_name\"
      : \"Choam K[...]
