---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=preah+vihear%2C+Cambodia&language=en&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Preah Vihear",
                       "short_name" : "Preah Vihear",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Preah Vihear, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 14.4343270,
                          "lng" : 105.8868710
                       },
                       "southwest" : {
                          "lat" : 13.0990640,
                          "lng" : 104.3539240
                       }
                    },
                    "location" : {
                       "lat" : 14.00857970,
                       "lng" : 104.84546190
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 14.7003920,
                          "lng" : 105.8699370
                       },
                       "southwest" : {
                          "lat" : 13.31467710,
                          "lng" : 103.82098680
                       }
                    }
                 },
                 "types" : [ "administrative_area_level_1", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 12 Dec 2011 16:46:28 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=14.0085797%2C104.8454619&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=preah%20vihear,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Preah Vihear",
                       "short_name" : "Preah Vihear",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_na[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=14.0085797,104.8454619&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
