---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=prey+veaeng%2C+Cambodia&language=en&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Prey Veaeng",
                       "short_name" : "Prey Veaeng",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Kampong Leav",
                       "short_name" : "Kampong Leav",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Prey Veng",
                       "short_name" : "Prey Veng",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Prey Veaeng, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 11.52094290,
                          "lng" : 105.34549710
                       },
                       "southwest" : {
                          "lat" : 11.4711410,
                          "lng" : 105.31730180
                       }
                    },
                    "location" : {
                       "lat" : 11.4851140,
                       "lng" : 105.3280980
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 11.50698230,
                          "lng" : 105.36011280
                       },
                       "southwest" : {
                          "lat" : 11.4632440,
                          "lng" : 105.29608320
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 12 Dec 2011 16:48:51 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.485114%2C105.328098&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=prey%20veaeng,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Prey Veng",
                       "short_name" : "Prey Veng",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.3802442,105.5005483&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
