---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=prey+veaeng%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Prey Veaeng\",\n               \"short_name\"
      : \"Prey Veaeng\",\n               \"types\" : [ \"locality\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Kampong Leav\",\n
      \              \"short_name\" : \"Kampong Leav\",\n               \"types\"
      : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Prey Veng\",\n               \"short_name\"
      : \"Prey Veng\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Prey Veaeng, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 11.52094290,\n
      \                 \"lng\" : 105.34549710\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 11.4711410,\n                  \"lng\" : 105.31730180\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 11.4851140,\n               \"lng\" : 105.3280980\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 11.50698230,\n                  \"lng\" : 105.36011280\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 11.4632440,\n                  \"lng\" : 105.29608320\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:48:51 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.485114%2C105.328098&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"11\",\n               \"short_name\"
      : \"11\",\n            [...]
