---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=rotanak+kiri%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Ratanakiri\",\n               \"short_name\"
      : \"Ratanakiri\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Ratanakiri, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 14.6864040,\n
      \                 \"lng\" : 107.6277160\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 13.1666070,\n                  \"lng\" : 106.5465850\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 13.85766070,\n               \"lng\" : 107.10119310\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 14.54993620,\n                  \"lng\" : 108.12566820\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 13.16331560,\n                  \"lng\" : 106.0767180\n               }\n
      \           }\n         },\n         \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 16:53:59 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=13.8576607%2C107.1011931&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"1944\",\n               \"short_name\"
      : \"1944\",\n      [...]
