---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=rotanak+kiri%2C+Cambodia&language=en&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ratanakiri",
                       "short_name" : "Ratanakiri",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" : "KH",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Ratanakiri, Cambodia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 14.6864040,
                          "lng" : 107.6277160
                       },
                       "southwest" : {
                          "lat" : 13.1666070,
                          "lng" : 106.5465850
                       }
                    },
                    "location" : {
                       "lat" : 13.85766070,
                       "lng" : 107.10119310
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 14.54993620,
                          "lng" : 108.12566820
                       },
                       "southwest" : {
                          "lat" : 13.16331560,
                          "lng" : 106.0767180
                       }
                    }
                 },
                 "types" : [ "administrative_area_level_1", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 12 Dec 2011 16:53:59 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=13.8576607%2C107.1011931&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=rotanak%20kiri,%20Cambodia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ratanakiri",
                       "short_name" : "Ratanakiri",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Cambodia",
                       "short_name" [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=13.8576607,107.1011931&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
