---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=siem+reab%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Siem Reap\",\n               \"short_name\"
      : \"Siem Reap\",\n               \"types\" : [ \"locality\", \"political\" ]\n
      \           },\n            {\n               \"long_name\" : \"Siem Reap\",\n
      \              \"short_name\" : \"Siem Reap\",\n               \"types\" : [
      \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Siem Reap\",\n               \"short_name\"
      : \"Siem Reap\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Siem Reap, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 13.4213470,\n
      \                 \"lng\" : 103.92190930\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 13.31587990,\n                  \"lng\" : 103.77651210\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 13.36222220,\n               \"lng\" : 103.85972220\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 13.4056420,\n                  \"lng\" : 103.92375190\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 13.31879460,\n                  \"lng\" : 103.79569250\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Thu, 24 Nov 2011 16:47:36 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=13.3622222%2C103.8597222&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Charles De Gaulle\",\n               \"short_name\"
      : \"Ch[...]
