---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=stueng+traeng%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Stung Treng\",\n               \"short_name\"
      : \"Stung Treng\",\n               \"types\" : [ \"administrative_area_level_2\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Stung Treng\",\n               \"short_name\" : \"Stung Treng\",\n               \"types\"
      : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Cambodia\",\n               \"short_name\"
      : \"KH\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
      \        ],\n         \"formatted_address\" : \"Stung Treng, Cambodia\",\n         \"geometry\"
      : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\"
      : 13.93106820,\n                  \"lng\" : 106.22749330\n               },\n
      \              \"southwest\" : {\n                  \"lat\" : 13.38828360,\n
      \                 \"lng\" : 105.91197970\n               }\n            },\n
      \           \"location\" : {\n               \"lat\" : 13.79164340,\n               \"lng\"
      : 106.11105010\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
      \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
      : 13.96495950,\n                  \"lng\" : 106.36716890\n               },\n
      \              \"southwest\" : {\n                  \"lat\" : 13.61819850,\n
      \                 \"lng\" : 105.85493130\n               }\n            }\n
      \        },\n         \"types\" : [ \"administrative_area_level_2\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:01:34 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=13.7916434%2C106.1110501&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"National Highway 7\",\n               \"short_name\"
      : \"N[...]
