---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=svaay+rieng%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Svay Rieng\",\n               \"short_name\"
      : \"Svay Rieng\",\n               \"types\" : [ \"locality\", \"political\"
      ]\n            },\n            {\n               \"long_name\" : \"Svay Rieng\",\n
      \              \"short_name\" : \"Svay Rieng\",\n               \"types\" :
      [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Svay Rieng\",\n               \"short_name\"
      : \"Svay Rieng\",\n               \"types\" : [ \"administrative_area_level_1\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Cambodia\",\n               \"short_name\" : \"KH\",\n               \"types\"
      : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
      : \"Svay Rieng, Cambodia\",\n         \"geometry\" : {\n            \"bounds\"
      : {\n               \"northeast\" : {\n                  \"lat\" : 11.10100960,\n
      \                 \"lng\" : 105.80893990\n               },\n               \"southwest\"
      : {\n                  \"lat\" : 11.06790740,\n                  \"lng\" : 105.7840490\n
      \              }\n            },\n            \"location\" : {\n               \"lat\"
      : 11.08333330,\n               \"lng\" : 105.80\n            },\n            \"location_type\"
      : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
      : {\n                  \"lat\" : 11.0942830,\n                  \"lng\" : 105.81600740\n
      \              },\n               \"southwest\" : {\n                  \"lat\"
      : 11.07238320,\n                  \"lng\" : 105.78399260\n               }\n
      \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
      ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:16:39 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=11.0833333%2C105.8&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"334\",\n               \"short_name\"
      : \"334\",\n              [...]
