---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=taakaev%2C+Cambodia&language=en&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"Takeo\",\n               \"short_name\"
      : \"Takeo\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n
      \           {\n               \"long_name\" : \"Doun Kaev\",\n               \"short_name\"
      : \"Doun Kaev\",\n               \"types\" : [ \"administrative_area_level_2\",
      \"political\" ]\n            },\n            {\n               \"long_name\"
      : \"Takev\",\n               \"short_name\" : \"Takev\",\n               \"types\"
      : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
      \              \"long_name\" : \"Cambodia\",\n               \"short_name\"
      : \"KH\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
      \        ],\n         \"formatted_address\" : \"Takeo, Cambodia\",\n         \"geometry\"
      : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\"
      : 10.99208680,\n                  \"lng\" : 104.79360580\n               },\n
      \              \"southwest\" : {\n                  \"lat\" : 10.97363420,\n
      \                 \"lng\" : 104.76802830\n               }\n            },\n
      \           \"location\" : {\n               \"lat\" : 10.98333330,\n               \"lng\"
      : 104.78333330\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
      \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
      : 10.99428670,\n                  \"lng\" : 104.79934070\n               },\n
      \              \"southwest\" : {\n                  \"lat\" : 10.97237950,\n
      \                 \"lng\" : 104.76732590\n               }\n            }\n
      \        },\n         \"types\" : [ \"locality\", \"political\" ]\n      }\n
      \  ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 12 Dec 2011 17:18:19 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=10.9833333%2C104.7833333&sensor=false
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body: ! "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
      \           {\n               \"long_name\" : \"110\",\n               \"short_name\"
      : \"110\",\n        [...]
