%h2#total_chats
  Chats
  = "(#{@chat_count})"
%table
  %tr
    %th
      Created
    %th
      Active?
    %th
      Initiator
    %th
      Friend
    %th
      Inactive User
    %th
      Messages
    %th
      Replies
  = render @chats
= paginate @chats
