= heading_with_count(:chats, @chat_count)
%table
  %tr
    %th
      Created
    %th
      Active?
    %th
      Initiator
    %th
      Friend
    %th
      Inactive User
    = render "shared/chatable_resources_table_headers"
  = render @chats
= paginate @chats
