= heading_with_count(:chats, @chat_count)
%table
  %tr
    %th
      Created
    %th
      Active?
    %th
      Initiator
    %th
      Friend
    %th
      Inactive User
    %th
      Messages
    %th
      Replies
    %th
      Phone Calls
  = render @chats
= paginate @chats
