---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=new+york%2C+United+States&language=en&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New York, NY, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.9175770,
                          "lng" : -73.7002720
                       },
                       "southwest" : {
                          "lat" : 40.4773990,
                          "lng" : -74.259090
                       }
                    },
                    "location" : {
                       "lat" : 40.71435280,
                       "lng" : -74.00597309999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.84953420,
                          "lng" : -73.74985430
                       },
                       "southwest" : {
                          "lat" : 40.57889640,
                          "lng" : -74.26209190
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
        [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.7143528%2C-74.00597309999999&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=new%20york,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Kings County",
                       "short_name" : "Kings County",
       [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.7127837,-74.0059413&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
