---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=chiang+mai%2C+Thailand&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Chiang Mai\",\n               \"short_name\"
        : \"Chiang Mai\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Thailand\",\n               \"short_name\" : \"TH\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Chiang Mai, Thailand\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 20.14750120,\n
        \                 \"lng\" : 99.57159550\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 17.24248310,\n                  \"lng\" :
        98.00794470\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 18.79646420,\n               \"lng\" : 98.66005860\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 20.14750110,\n
        \                 \"lng\" : 99.57159550\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 17.24248310,\n                  \"lng\" :
        98.00794460\n               }\n            }\n         },\n         \"types\"
        : [ \"administrative_area_level_1\", \"political\" ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}\n"
  recorded_at: Tue, 21 Aug 2012 16:38:52 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=18.7964642%2C98.6600586&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"lo[...]
