body {
  background-color: #b0e0e6;
  font-size: 200%;
  text-align: center;
}

p.tagline {
  font-size: 150%;
}

.wide {
  margin-left:auto;
  margin-right:auto;
  width: 90%;
}

.center {
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

img#logo{
  width:400px; /* you can use % */
  height: auto;
}

table {
  width: 100%;
}

table, th, td
{
  border-collapse:collapse;
  border: 1px solid black;
}

tr:hover { background: #FFF; }
