---
http_interactions:
- request:
    method: get
    uri: https://api.twilio.com/2010-04-01/Accounts/ACC123456789/Calls/CAe7339f02996257ac5d8f33af1b2bd056.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ENCODED AUTH HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - dd9a0e616c41e9c1a73bf28146d1cf9c
      Last-Modified:
      - Mon, 24 Apr 2017 14:05:23 +0000
      Twilio-Request-Duration:
      - '0.051'
      Twilio-Request-Id:
      - RQ9628290c81cf4062946e49f3e0ee7c93
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "CAe7339f02996257ac5d8f33af1b2bd056", "date_created": "Mon,
        24 Apr 2017 14:04:09 +0000", "date_updated": "Mon, 24 Apr 2017 14:05:23 +0000",
        "parent_call_sid": "CAbfe1a911d12c224d860d5b622c3507ef", "account_sid": "ACC123456789",
        "to": "+855966865371", "to_formatted": "+855966865371", "from": "+855383838380",
        "from_formatted": "+855383838380", "phone_number_sid": "PN6af8d7ecdc9146b095e5227f55fd726b",
        "status": "completed", "start_time": "Mon, 24 Apr 2017 14:04:23 +0000", "end_time":
        "Mon, 24 Apr 2017 14:05:23 +0000", "duration": "60", "price": "-0.10000",
        "price_unit": "USD", "direction": "outbound-dial", "answered_by": null, "api_version":
        "2010-04-01", "annotation": null, "forwarded_from": "+14156926280", "group_sid":
        null, "caller_name": null, "uri": "/2010-04-01/Accounts/ACC123456789/Calls/CAe7339f02996257ac5d8f33af1b2bd056.json",
        "subresource_uris": {"notifications": "/2010-04-01/Accounts/ACC123456789/Calls/CAe7339f02996257ac5d8f33af1b2bd056/Notifications.json",
        "recordings": "/2010-04-01/Accounts/ACC123456789/Calls/CAe7339f02996257ac5d8f33af1b2bd056/Recordings.json"}}'
  recorded_at: Fri, 28 Apr 2017 07:06:38 GMT
recorded_with: VCR 3.0.3
