---
http_interactions:
- request:
    method: get
    uri: https://api.twilio.com/2010-04-01/Accounts/ACC123456789/Messages/SMd7fe60617415486185ef14320e7e2700.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ENCODED AUTH HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.036'
      Twilio-Request-Id:
      - RQd50f5788bb20406ca25cc5abf72ad8f9
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMd7fe60617415486185ef14320e7e2700", "date_created": "Fri,
        05 May 2017 09:28:08 +0000", "date_updated": "Fri, 05 May 2017 09:28:08 +0000",
        "date_sent": "Fri, 05 May 2017 09:28:08 +0000", "account_sid": "ACC123456789",
        "to": "+85560808850", "from": "+14156926280", "messaging_service_sid": null,
        "body": "Dara: Ok sms to me on +855383838380", "status": "<%= twilio_status %>", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": "-0.04400", "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/ACC123456789/Messages/SMd7fe60617415486185ef14320e7e2700.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACC123456789/Messages/SMd7fe60617415486185ef14320e7e2700/Media.json"}}'
  recorded_at: Fri, 05 May 2017 09:57:40 GMT
recorded_with: VCR 3.0.3
